
.sidebar-container {
    display: flex;
    flex-direction: column;
    padding: 5px 3px;
    background-color: #ECEAFF;
    font-size: larger;
    gap: 20px;
    height: 100vh;


}

.dashboardItems{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
}

.quickItems{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.dashboard {
    padding: 5px;
    background-color: #8470FF;
    color: #F5F4FF;
    border-radius: 8px;
}
